:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  background-image: linear-gradient(var(--blue), #FFF);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

h4 {
  color: #FFF;
}

section {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;

  >div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 1rem;
    min-width: 325px;
    background: #FFF;

    img {
      width: 150px;
      height: 150px;
      border: 2px solid var(--orange);
      border-radius: 50%;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
