<section class="mobile">
  Hello
</section>
<section class="desktop">
  <header>
    <div>
      <a href="tel:5732398041">
        573.239.8041
      </a>
    </div>
    <div>
      <a>SIGN UP TODAY</a>
    </div>
    <div>
      <a href="mailto:info@daniellutzmusic.com">
        info&#64;daniellutzmusic.com
      </a>
    </div>
  </header>
  <div class="d-flex align-items-center">
    <div class="text-center">
      <h1>Music Lessons</h1>
      <h2>with Daniel Lutz</h2>
    </div>
    <div>
      <img src="/hero.jpg" />
    </div>
  </div>
  <div>
    Guitar • Banjo • Voice • More
  </div>
  <div>
    Discover your inner music
  </div>
</section>
