<div
  id="about"
  class="sub-header"
>
  <div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-224c0-35.3-28.7-64-64-64L80 128c-8.8 0-16-7.2-16-16s7.2-16 16-16l368 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L64 32zM416 272a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
      </svg>
      <span>SCHEDULE YOUR FIRST FREE LESSON TODAY!</span>
    </div>
    <div>
      <button (click)="scrollToSignUp()">
        Scheduling Calendar
      </button>
    </div>
  </div>
</div>
<section>
  <div>
    <div>
      <h3>ABOUT ME</h3>
      <div>
        As a teenager, a friend and mentor introduced me to fingerstyle guitar. I had been playing the guitar for a while, but this was the key that unlocked my creativity. The experience taught me the lasting impact someone could have through teaching music and as a music instructor, this is what inspires me. I want to share my knowledge and love of music with others, while helping them to discover its many joys. I offer guitar, banjo and voice instruction out of our family home in Columbia, Missouri.
      </div>
    </div>
    <div>
      <img
        class="about"
        src="about.jpg"
      />
    </div>
  </div>
  <div>
    <img src="symbol.png" />
  </div>
</section>
