<div class="sub-header text-center d-flex flex-wrap justify-content-between align-items-center">
  <div>
    <strong>SCHEDULE YOUR FIRST FREE LESSON TODAY!</strong>
  </div>
  <div>
    <button>
      Scheduling Calendar
    </button>
  </div>
</div>
<section>
  <div>
    <div>
      <h3>ABOUT ME</h3>
      <div>
        As a teenager, a friend and mentor introduced me to fingerstyle guitar. I had been playing the guitar for a while, but this was the key that unlocked my creativity. The experience taught me the lasting impact someone could have through teaching music and as a music instructor, this is what inspires me. I want to share my knowledge and love of music with others, while helping them to discover its many joys. I offer guitar, banjo and voice instruction out of our family home in Columbia, Missouri.
      </div>
    </div>
    <div>
      <img
        class="about"
        src="/about.jpg"
      />
    </div>
  </div>
  <div>

  </div>
</section>