/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

a {
  color: inherit;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003B81;
  color: #FFF;
  padding: 1em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
