/* You can add global styles to this file, and also import other style files */
:root {
  --orange: #E09900;
  --blue: #003B81
}

.color-blue {
  color: var(--blue);
}

.color-white {
  color: white;
}

body {
  margin: 0;
  font-family: serif;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Caladea', Georgia, "Times New Roman", serif;
  font-style: italic;
}

h1 {
  font-family: 'Amiri';
}

h4 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0em 0.02em 0.12em rgba(0, 0, 0, 0.4);
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.flex-grow {
  flex-grow: 1;
}

header,
footer {
  background-color: var(--blue);
  color: #FFF;
  font-size: 1.5rem;
  font-family: Caladea;
  font-style: italic;
  padding: 0.75rem 1rem;

  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1100px;
    margin: auto;

    >* {
      flex: 1;
    }
  }

  a {
    font-style: inherit;
    text-decoration: none;

    &.d-flex {
      gap: 1rem;
    }
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;

    path {
      fill: currentColor;
    }
  }
}

@media (max-width: 500px) {
  footer>div {
    flex-direction: column;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

button {
  cursor: pointer;
}

.font-caladea {
  font-family: "Caladea";
}


@font-face {
  font-family: "Amiri";
  src: url("Amiri-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Amiri";
  src: url("Amiri-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Caladea";
  src: url("Caladea-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Caladea";
  src: url("Caladea-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Tchaikovsky";
  src: url("Tchaikovsky-ax8DK.ttf");
}

@font-face {
  font-family: "theeighteenthamendment";
  src: url("theeighteenthamendmentlight.ttf");
}


.line-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  margin: auto;

  >div {
    flex-grow: 1;
    border-top: 1px solid currentColor;
  }
}
